{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <select name="symbol">
        <option value="symbol" disabled selected value>Symbol</option>
        {% for aandeel in aandelen %}
            <option value="{{ aandeel["symbol"] }}">{{ aandeel["symbol"] }}</option>
        {% endfor %}
        </select>
        <br>
        <br>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Shares" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
